body { 
    background-color: pink;
    padding: 20px;
    text-align: center;
    background-image: url(pexels-padrinan-255379.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

header {
    text-align: center;
    padding: 40px 20px;
}

h1 {
    font-family: 'pacifico', cursive;
    color:#ff1493;
    font-size: 3em;
}

main {
    width: 75%;
    margin: 40px auto;
    background-color:antiquewhite;
    padding: 40px;
    border-radius: 10px;
}

p { 
    font-family:  sans-serif;
    color: black;
    font-size: 1em ;
}

.cupcake-link {
    color: rosybrown;
    font-weight: bold;
}

.cupcake-link:hover {
    color: #ff1493;
    text-decoration: underline;
}

#special-text-1 {
    font-weight: bold;
    color:blueviolet;
    text-decoration: underline;
}

#special-text-2 {
    font-style: italic;
    color:rgb(195, 10, 10);
}

#special-text-3 {
    font-weight: bold;
    font-style: italic;
    color:rgb(191, 146, 232);
    text-decoration: underline;
}
.box {
    display: inline-block;
    width: 20%;
    padding: 15px;
    margin: 10px;
    border: 5px solid;
}

.box1 {
    background-color: #e32487;
    border-color: black;
}

.box2 {
    background-color: rgb(179, 101, 114);
    border-color: black;
}
.box3 { 
    background-color: #e32487;
    border-color: black;
}

.box h3 {
    color: black;
    margin-bottom: 15px;
    text-align: center;
}

.box1 ul {
    list-style-type: circle;
}

.box2 ol {
    list-style-type: lower-roman;
}

.box3 ul {
    list-style: square;
}

.box li {
    color: rgb(14, 0, 0);
    margin-bottom: 8px;
    font-family: 'Times New Roman', Times, serif;
}